a:link, a:active, a:visited {
    color: #FF9640;
    text-decoration: none;
}

a:hover {
    color: #BF3030;   
    text-decoration: none;
}


body {
    margin: 0 auto;
    padding: 2em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #333333;
    background-color: #FFFFD5;
}

#content {
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

#profile {
    border: 5px solid #333333;
    display:block;
    float:left;
    margin: 13px;
    padding: 2px;
}

#top, #bottom, #left, #right {
	background: #EBEBAD;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 18px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 18px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
